.icon-img {
    height: 40px;
    object-fit: contain;
    margin: 4px;
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}


@media (max-width: 600px) {
    .icon-img {
        height: 28px;

    }

}