.icon-img {
    height: 40px;
    /* controla tamaño sin deformar */
    object-fit: contain;
    margin: 4px;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

.img-row {
    text-align: left;
}

@media (max-width: 600px) {
    .icon-img {
        height: 28px;

    }

    .img-row {
        text-align: left;
    }
}